.carouselSection {
    .carouselSection_Background {
        height: 520px;
        background: #4AC959;
        width: 90%;
        margin: 0 auto;
        border-radius: 8px;
        .carouselSection_Paragraph {
            color: white;
            font-size: 3.4285714285714284rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            padding: 5.714285714285714rem 0 0 5.714285714285714rem;
                @media (min-width: 1024px) {
                color: white;
                font-size: 3.4285714285714284rem;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: bold;
                padding: 5.714285714285714rem 0 0 5.714285714285714rem;
            }
        }
    }
    .carrouselCardContainer::-webkit-scrollbar {
        display: none;
    }

    .carrouselCardContainer {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        margin-top: -320px;
        margin-left: 4rem;
        .carrouselCardContent {
            background: white;
            flex: none;
            width: 350px;
            margin-right: 50px;
            border-radius: 16px;
            .carroselHeaderImg {
                img {
                    width: 350px;
                    height: 220px;
                    border-radius: 16px 16px 0px 0px;
                }
            }
            .carroselHeaderLogo {
                display: flex;
                justify-content: flex-end;
                margin-top: -30px;
                margin-right: 20px;
            }
            .carroselDescription {
                margin-left: 1rem;
                button {
                    font-size: 1.1428571428571428rem;
                    background: none;
                    border: 1px solid #9499B3;
                    border-radius: 25px;
                    padding: 0.4rem 0.8rem;
                    color: #9499B3;
                    font-family: 'Poppins';
                }
                p {
                    color: #42D76B;
                    font-size: 1.1428571428571428rem;
                    font-weight: 700;
                    font-family: 'Poppins';
                    &:nth-child(2) {
                        font-family: 'Montserrat';
                        font-size: 1.2857142857142858rem;
                        font-weight: 600;
                        margin-top: 1rem;
                        color: black;
                        height: 90px;
                    }
                }
            }
        }

     @media (min-width: 1024px) {
        display: flex;
        width: 100%;
        overflow-x: auto;
        scroll-behavior: smooth;
        margin-top: -320px;
        margin-left: 9rem;
      }
        .carrouselCardContent {
            background: white;
            flex: none;
            width: 350px;
            margin-right: 50px;
            border-radius: 16px;
            .carroselHeaderImg {
                img {
                    width: 350px;
                    height: 220px;
                    border-radius: 16px 16px 0px 0px;
                }
            }
            .carroselHeaderLogo {
                display: flex;
                justify-content: flex-end;
                margin-top: -30px;
                margin-right: 20px;
            }
            .carroselDescription {
                margin-left: 1rem;
                button {
                    font-size: 1.1428571428571428rem;
                    background: none;
                    border: 1px solid #9499B3;
                    border-radius: 25px;
                    padding: 0.4rem 0.8rem;
                    color: #9499B3;
                    font-family: 'Soleil';
                }
                p {
                    color: #42D76B;
                    font-size: 1.1428571428571428rem;
                    font-weight: 700;
                    font-family: 'Soleil';
                    &:nth-child(2) {
                        font-family: 'Montserrat';
                        font-size: 1.2857142857142858rem;
                        font-weight: 600;
                        margin-top: 1rem;
                        color: black;
                        height: 90px;
                    }
                }
            }
        }
    }
    .buttonsCarrousel {
        margin-top: 2.142857142857143rem;
        text-align: center;
        margin-left: 200px;
        button {
            width: 25px;
            height: 25px;
            border: none;
            margin-right: 10px;
            background: #4AC959;
            border-radius: 50%;
            margin-left: 10px;
        }
    }
  }

    @media (min-width: 1024px) {
        .carouselSection_Background {
            height: 520px;
            background: #4AC959;
            width: 90%;
            margin: 0 auto;
            border-radius: 8px;
            .carouselSection_Paragraph {
                    @media (min-width: 1024px) {
                    color: white;
                    font-size: 3.4285714285714284rem;
                    font-family: 'Poppins';
                    padding: 5.714285714285714rem 0 0 5.714285714285714rem;
                }
            }
        }
        .carrouselCardContainer::-webkit-scrollbar {
            display: none;
        }

        .carrouselCardContainer {
            display: flex;
            width: 100%;
            overflow-x: auto;
            scroll-behavior: smooth;
            margin-top: -320px;
            margin-left: 6rem;

            @media (min-width: 1024px) {
                display: flex;
                width: 100%;
                overflow-x: auto;
                scroll-behavior: smooth;
                margin-top: -320px;
                margin-left: 9rem;

                .carrouselCardContent {
                    background: white;
                    flex: none;
                    width: 350px;
                    margin-right: 50px;
                    border-radius: 16px;
                    .carroselHeaderImg {
                        img {
                            width: 350px;
                            height: 220px;
                            border-radius: 16px 16px 0px 0px;
                        }
                    }
                    .carroselHeaderLogo {
                        display: flex;
                        justify-content: flex-end;
                        margin-top: -30px;
                        margin-right: 20px;
                    }
                    .carroselDescription {
                        margin-left: 1rem;
                        button {
                            font-size: 1.1428571428571428rem;
                            background: none;
                            border: 1px solid #9499B3;
                            border-radius: 25px;
                            padding: 0.4rem 0.8rem;
                            color: #9499B3;
                            font-family: 'Poppins';
                        }
                        p {
                            color: #42D76B;
                            font-size: 1.1428571428571428rem;
                            font-weight: 700;
                            font-family: 'Poppins';
                            &:nth-child(2) {
                                font-family: 'Montserrat';
                                font-size: 1.2857142857142858rem;
                                font-weight: 600;
                                margin-top: 1rem;
                                color: black;
                                height: 90px;
                            }
                        }
                    }
                }
            }

            .carrouselCardContent {
                background: white;
                flex: none;
                width: 350px;
                margin-right: 50px;
                border-radius: 16px;
                .carroselHeaderImg {
                    img {
                        width: 350px;
                        height: 220px;
                        border-radius: 16px 16px 0px 0px;
                    }
                }
                .carroselHeaderLogo {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: -30px;
                    margin-right: 20px;
                }
                .carroselDescription {
                    margin-left: 1rem;
                    button {
                        font-size: 1.1428571428571428rem;
                        background: none;
                        border: 1px solid #9499B3;
                        border-radius: 25px;
                        padding: 0.4rem 0.8rem;
                        color: #9499B3;
                        font-family: 'Poppins';
                    }
                    p {
                        color: #42D76B;
                        font-size: 1.1428571428571428rem;
                        font-weight: 700;
                        font-family: 'Poppins';
                        &:nth-child(2) {
                            font-family: 'Montserrat';
                            font-size: 1.2857142857142858rem;
                            font-weight: 600;
                            margin-top: 1rem;
                            color: black;
                            height: 90px;
                        }
                    }
                }
            }

        }
        .buttonsCarrousel {
            margin-top: 2.142857142857143rem;
            text-align: center;
            button {
                width: 25px;
                height: 25px;
                border: none;
                margin-right: 10px;
                background: #4AC959;
                border-radius: 50%;
            }
        }
    }