.carouselSection {
    background-color: white;
    display: flex;
    justify-content: center;

    .carouselSection_Background{
        background-image: url('../../public/images/background.png');
        background-size: 1080px 520px;
        padding: 10px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px 10px 10px 10px;
        width: 1080px;
        height: 520px;

        // @media (min-width: 1020px) {
        //     background-image: url('../../public/images/background.png');
        //     // background-size: 800px 520px;
        //     background-size: 75% 75%;
        //     padding: 10px;
        //     background-repeat: no-repeat;
        //     background-position: center;
        //     border-radius: 10px 10px 10px 10px;
        // }

        .carouselSwiper {
            padding-top: 40px;
            padding-left: 10px;
        }

        .carouselSection_Paragraph {
            color: white;
            font-family: 'Montserrat';
            font-weight: bold;
            font-size: 48px;
            padding-left: 80px;
            padding-top: 80px;
        }

        .carouselSlide_Cards {
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            width: 360px;
            height: 430px;



            .carouselSlide_Card {
                z-index: -1;
                max-width: 360px;
                width: 360px;
                height: 200px;
                border-radius: 10px 10px 0 0;
                display: flex;
                // justify-content: center;
                margin-left: 80px;
            }

            .carouselSlide_Logo{
                position: absolute;
                z-index: 1;
                /* margin-left: 65%; */
                /* margin-top: 39%; */
                margin: 38% 65%;
            }

            .carouselSlide_DivParagraph {
                background-color: white;
                width: 360px;
                height: 200px;
                margin-left: 80px;
                display: flex;
                flex-direction: column;

                p {
                  font-family: 'Montserrat';
                  font-size: 18px;
                  line-height: 21px;
                }

                button {
                    color: var(--green-500);
                    font-family: 'Soleil';
                    background-color: transparent;
                    background-repeat: no-repeat;
                    border: none;
                    cursor: pointer;
                    overflow: hidden;
                    outline: none;
                }
            }
        }
    }
}



