.sectionMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -20px;
    //min-width: 100%;
    // width: 1000px;

    article {
        min-width: 100%;
        text-align: center;
        height:100%;

        .sectionMain_Div {
            z-index: -2;
            background-color: black;
            color: white;
            clip-path: polygon(0 14%, 100% 0, 100% 53%, 0 67%);
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 100%;

            h1 {
                text-decoration: underline #4AC959;
                padding-top: 100px;
                padding-bottom: 50px;
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 60px;
                line-height: 56px;
            }

            p {
                padding-bottom: 180px;
                margin: 0 auto;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 29px;
                margin-bottom: 50px;
                width: 100%;
            }

            @media (max-width: 320px) {

                h1{
                text-decoration: underline #4AC959;
                padding-top: 90px;
                padding-bottom: 30px !important;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 60px;
                line-height: 60px;
                }
            }

            @media (min-width: 1024px) {
                z-index: -2;
                color: white;
                clip-path: polygon(0 19%, 100% 0, 100% 61%, 0 76%);
                margin-top: 50px;
                margin-bottom: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;

                h1 {
                    text-decoration: underline #4AC959;
                    padding-top: 100px;
                    padding-bottom: 50px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 60px;
                    line-height: 60px;
                }
                p {
                    padding-bottom: 180px;
                    width: 100%;
                    margin: 0 auto;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    margin-bottom: 50px;
                }
            }

            // h1 {
            //     text-decoration: underline #4AC959;
            //     padding-top: 80px;
            //     padding-bottom: 50px;
            //     font-family: 'Poppins';
            //     font-style: normal;
            //     font-weight: 600;
            //     font-size: 60px;
            //     line-height: 60px;
            // }
            p {
                padding-bottom: 180px;
                width: 100%;
                margin: 0 auto;
                font-family: 'Montserrat';
                font-style: normal;
                 font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 50px;
            }
        }
    }

    .toDo_Section{
        display:flex;
        flex-direction: column;
        margin-bottom: 46px;

        .divContainerCards {
            display: flex;
            flex-direction: column;
            margin: 0 auto;

            @media (min-width: 1023px) {
                flex-direction: row;
                }
            }
         .picturesLeft {
            display: none;
            @media (min-width: 1023px) {
                display: block;
            }

        }


        @media (min-width: 1023px) {
          display:flex;
          flex-direction: row;
          width: 100%;
          margin-left: 50px;

         .toDo_Figures{
            display: flex;
            padding-right: 50px;
            margin-bottom: 20px;
            img {
                margin-left: -25px;
            }
          }
        }

        h2 {
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 40px;
            line-height: 80px;
        }

        p {
          font-family:'Montserrat';
          font-weight: 400;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 29px;
        }

        @media (min-width: 1024px) {
            .toDo_Div_logout{
                display: flex;
                align-items: center;
                text-align: center;
                flex-direction: column;
                font-family:'Montserrat';
                font-size: 24px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin-bottom: 50%;
                margin-left: -25%;
                padding-bottom: 4%;
            }
        }

        .toDo_Div_logout{
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
            font-family:'Montserrat';
            font-size: 24px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-bottom: 50%;
            // margin-left: -25%;
            padding-bottom: 4%;

            .ToDo_Link_ToSignIn {
                border: none;
                width: 150px;
                height: 35px;
                margin-top: 25px;
                background: #4AC959;
                color: white;
                align-items: center;
                border-radius: 7px;
              }
              .ToDo_Link_ToSignIn:hover {
                filter: brightness(0.8);
              }
        }

        .toDo_Div{
          display: flex;
          align-items: center;
          text-align: center;
          flex-direction: column;
          font-family:'Montserrat';
          font-size: 24px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          margin-bottom: 40px;
        //   margin-right: 10px;
          padding-bottom: 4%;

          .taskTodosContainer {
              display: flex;
              align-items: center;
              margin-top: 16px;
              margin-left: 80px;
              max-width:0px;
              min-width: 100%;
            //   margin-top: 10%;
              .buttonSendToDone {
                width: 25px;
                height: 25px;
                background: none;
                border: 2px solid #E88D39;
                border-radius: 100%;
                max-width: 100%;
                margin-right: 16px;
                padding-left: 6%;
              }
              p {
                max-width: 70%;
                word-wrap: break-word;
                font-family:'Montserrat';
                font-weight: 400;
                font-size: 16px;
              }
          }

          .todoMakeContainer {
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 16px;
            margin-left: 80px;

                .createNewTask {
                    width: 25px;
                    height: 25px;
                    border: 2px solid #A1A1A1;
                    border-radius: 100%;
                    background: none;
                }

                .toDoInput_title {
                    margin-top: 0px;
                    margin-left: 6px;
                    font-weight: bold;
                    scroll-behavior: smooth;
                    width: 73%;
                }
                .toDoInput_title:focus {
                    outline: none;
                    background-color: white;
                    border: 2px solid #A1A1A1;
                    border-radius: 6px;
                }
            }

          .toDo_Map {
            display: flex;
            flex-direction: row;
            min-width: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            button {
                background-color: white;
                background-image: url(../../public/images/question.png);
                background-repeat: no-repeat;
                background-size: cover;
                width: 20px;
                height: 20px;
                margin: 0;
                margin-right: 5px;
            }
         }


          @media (min-width: 1024px) {
          display: flex;
          align-items: center;
          text-align: center;
          flex-direction: column;
          font-family:'Montserrat';
          font-size: 24px;
          //width: 100%;

            .toDo_Map {
                display: flex;
                flex-direction: row;
                //min-width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;

                button {
                    background-color: white;
                    background-image: url(../../public/images/question.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 20px;
                    height: 20px;
                    margin: 0;
                    margin-right: 5px;
                }
            }
          }



          .toDO_Buttons {
              margin-top: 20px;
          }

          input {
              display: flex;
              width: 40%;
              border-width:0px;
              border:none;
              margin-top: 20px;
              padding-left: 2%;
              font-family:'Montserrat';
              font-weight: 400;
          }

          .toDO_Buttons {
              background-color: black;
              color:white;
              border: none;
              border-radius:10px;
              width: 300px;
              margin-bottom: 10px;
              height: 64px;
              font-size: 24px;

              transition: 0.2ms;
              &:first-child{
                line-height: 80px;
              }
          }
          .toDO_Buttons:hover {
              filter: brightness(0.5);
          }
        }

        .toDoDiv_Done {
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
            font-family:'Montserrat';
            font-size: 24px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            button {
                background-color: black;
                color:white;
                border: none;
                border-radius:10px;
                width: 300px;
                margin-top: 40px;
                margin-bottom: 40px;
                height: 64px;
                font-size: 24px;
            }

             .todoContainerText {
                    max-width:0px;
                    min-width: 100%;
                    display: flex;
                    align-items: flex-start;
                    margin-top: 10%;
                    img {
                        max-width: 100%;
                        margin-right: 16px;
                        margin: auto;
                        padding-left: 10%;
                    }

                    h2 {
                        word-wrap: break-word;
                        font-size: 16px;
                        text-align: left;
                        line-height: 24px;
                        font-family:'Montserrat';
                        font-weight: 700;
                        padding-top: 5.5%;
                        padding-left: 5%;
                        max-width: 50%;
                        min-width: 50%;
                    }

                    p {
                        font-size: 12px;
                        text-align: left;
                        margin-left: 20px;
                    }
                    .todo_button_deleteTask{
                        font-size: 16px;
                        background: none;
                        border-radius: 25px;
                        padding: 0.4rem 0.8rem;
                        color: #9499B3;
                        font-family:'Montserrat';
                        font-weight: 700;
                        font-style: bold;
                        // max-height: 0%;
                        margin:auto;
                        max-width: 40%;
                    }
                    .todo_button_eraseAll:hover {
                        filter: brightness(0.8);
                    }
                }

            @media (min-width: 1023px) {
                display: flex;
                align-items: center;
                text-align: center;
                flex-direction: column;
                font-family:'Montserrat';
                font-size: 24px;
                margin-left: 46px;

                //box-shadow: 0px 4px 60px rgba(66, 66, 66, 0.2);

                .paragraphFirst {
                    margin-bottom: 20px;
                }

                .todoContainerText {
                    max-width:0px;
                    min-width: 100%;
                    display: flex;
                    align-items: flex-start;

                    img {
                        max-width: 100%;
                        margin-right: 16px;
                        margin: auto;
                        padding-left: 10%;
                    }

                    h2 {
                        word-wrap: break-word;
                        font-size: 16px;
                        text-align: left;
                        line-height: 24px;
                        font-family:'Montserrat';
                        font-weight: 700;
                        padding-left: 5%;
                        padding-top: 5.5%;
                        max-width: 50%;
                        min-width: 50%;
                    }

                    p {
                        font-size: 12px;
                        text-align: left;
                        margin-left: 20px;
                    }
                    .todo_button_deleteTask{
                        font-size: 16px;
                        background: none;
                        border-radius: 25px;
                        padding: 0.4rem 0.8rem;
                        color: #9499B3;
                        font-family:'Montserrat';
                        font-weight: 700;
                        font-style: bold;
                        margin:auto;
                        max-width: 40%;
                    }
                    // .todo_button_deleteTask:hover{
                    //     filter: brightness(0.8);
                    // }

                    .todo_button_eraseAll {
                        background-color: black;
                        color:white;
                        border: none;
                        border-radius:10px;
                        max-width: 300px;
                        margin-top: 40px;
                        height: 64px;
                        font-size: 24px;
                    }
                    .todo_button_eraseAll:hover {
                        filter: brightness(0.5);
                    }
                }

            }

        }
    }
    @media (max-width: 1024px) {
      .sectionParagraph_scrollIcon{
        display:none;
      }
    }
    .sectionParagraph_scrollIcon{
        width: 25px;
      }

}