.formsSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;

  .formContainer {
    width: 50%;
    box-shadow: 0px 4px 60px rgb(6 21 43 / 9%);

  .formFigure{
    display: flex;
    flex-direction: column;
    align-items: center;

    .formImage_Avatar{
      z-index: 1;
      border-radius: 50%;
    }

    .formImage_Bar{
      z-index: -1;
      position: absolute;
      margin-top: 88px;
      margin-left: -80px;
    }

    .formImage_Contact{
      margin-right: 55%;
    }

    @media (min-width: 1024px) {
      .formImage_Avatar{
        z-index: 1;
        border-radius: 50%;
      }

      .formImage_Bar{
        z-index: -1;
        position: absolute;
        margin-top: 88px;
        margin-left: -80px;
      }

      .formImage_Contact{
        margin-right: 55%;
      }
    }
  }

  div {
    display: flex;
    margin-top: 16px;
    label {
      display: block;
      margin-left: 2px;
    }
    input {
      display: flex;
      flex-direction: row;
      border-radius: 8px;
    }
  }

  .formContent {

    @media (min-width: 1024px) {
      align-items: center;

    }

    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    label {
      border: 0px;
      margin-top: 16px;
      margin-bottom: 5px;
      margin-right: 86%;
    }
    input {
      font-family: 'Montserrat';
      font-size: 16px;
      line-height: 20px;
      width: 100%;
      padding: 16px;
      border-radius: 8px;
    }
    textarea {
      width: 100%;
      border-radius: 8px;
      padding: 8px;
      height: 200px;
    }

    .inputEmailAndTelphone {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        width: 100%;
        margin: 0 auto;
      }

      @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        div {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-right: 2%;
          .inputField_row{
            width: 104.5%;
          }
        }
      }

    }
  }

  .inputButtonSend {
    background: #46BD62;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    margin-top: 40px;
    border: transparent;
    margin-bottom: 100px;
  }
}
}